<?php
$AUTOCONFIG = array(
  "dbtype"        => "pgsql",
  "dbname"        => "owncloud",
  "dbuser"        => "owncloud",
  "dbpass"        => "{{fileserver_password}}",
  "dbhost"        => "localhost",
  "dbtableprefix" => "",
);
